@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 6px;
    height: 9vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav{
    padding: 0px 4px 0px 34px;
    display: flex;
    align-items: center;
}

svg{ 
    color: #5f6368 ;
    opacity: 1;
    width: 25px;
}

.nav-icon:hover{
    background-color: grey ;
}

.icon { 
    padding: 8px;
}

nav > a{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 13px;
}

.icon-image{
    float: right;
    display: flex;
    align-items: center;
}
.profile-image{
        background-size: 32px 32px;
    border: 0;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    z-index: 0;
}


.logo-section{
height: 25vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: flex-end;
}

.input-section{
    height: 20vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-field{
    background-color: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    width: 500px;
}

input{
    border: none;
}

.input-buttons{
    padding: 18px 0px 0px;
}

button{
    font-size: 14px;
    margin: 11px 4px;
    background-color: #f8f9fa;
    padding: 0 16px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
}

button:hover{
    border: 1px solid #dfe1e5;
}

.third-section{
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
footer{
    background-color: #f2f2f2;
    height: 14vh;
}

.nation, .about{
    display: flex;
    align-items: center;
    height: 5.5vh;
    padding: 15px 30px;
    font: 15px;
}

.nation{
    border-bottom: 1px solid #dadce0;
}

.about{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

a{
    text-decoration: none;
    font: 14px;
    font-family: sans-serif;
    padding: 15px;
    color: #70757a;
}

.third-section{
    display: flex;
    justify-content: space-evenly;
}

.middle-footer{
    padding: 15px;
}